@import "reset.css";
@import "font-awesome.css";

html {
	background: url(../pict/pattern3.png);
    background-attachment: fixed;
    background-color: #F4F4F4;
    font-family:  'Cuprum', sans-serif;
    color: #333;
}
.wraper {
	width: 960px;
    margin: 0 auto;
    position: relative;
}
.clearfix {
	clear: both;
}
p:first-letter {
	font-size: larger;
	font-weight: bolder;
}
h2{
	font-size: 40px;
	margin-bottom: 50px;
	color: #d600dd;
	}
header {
	height: 50px;
	width: 100%;
	background-color: #333;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 999;
	border-bottom: 1px solid #BFBFtBF;
}
	header a {
		color: #fff;
	}
	#logo {
		float: left;
	   	margin: 0 10px 0 0px;
	}
	#logo h1 {
		font-family: 'Russo One', sans-serif;
		line-height: 50px;
		font-size: 30px;
	    text-shadow: 3px 3px 0 #B700D8;
	}
menu {
	font-size: 0;
	position: relative;
}
	menu li {
		display: inline-block;
		margin: 0 10px 0 10px;
	}	
		menu li i {
			margin-right: 5px;
			color: #D298DC;
		}
		menu a {
			font-size: 20px;
			line-height: 50px;
			padding: 2px 5px;
			border-bottom: 1px dashed #fff;
		}
			menu a:hover {
				border-bottom:none;
			}
			.soc-menu  {
				position: absolute;
				top: 50px;
				width: 150px;
				display: none;
				background-color:rgba(183, 0, 216, 1);
				padding-bottom: 5px;
			}
				.soc-menu li {
					display: block;
				}
					.soc-menu  li a {
						line-height: 35px;
					}
				.main-item:focus ~ .soc-menu, 
				.main-item:active ~ .soc-menu, 
				.soc-menu:hover { 
				   display: block; 
				} 
.mini-menu {
	background-color: #D2D2D2;
	position: absolute;
	top: 100px;
	right: -100px;
	font-size: 30px;
	color: #fff;
}
.mini-menu a {
	display: block;
	padding: 10px;
}
.mini-menu a:focus ~ .submenu, 
.mini-menu a:active ~ .submenu, 
.submenu:hover {
	display: block;
}
.mini-menu .submenu {
	position: absolute;
	background-color: #D2D2D2;
	padding: 15px;
/*	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;*/
	top: 0;
	right: 45px;
	z-index: -1;
	font-size: 18px;
	line-height: 1em;
	width: 450px;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	display: none;
}

.mini-menu .submenu li {
	
	list-style-type: none;
	
}
.mini-menu .submenu li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-shadow: 0 0 5px #666;
}
.mini-menu .submenu li a:hover {
	background-color: #333;
	color: #fff;
}
#otstyp-a {
	height: 100px;
	/*background-color: #FFE9B3;*/
}
.big {
	font-weight: bolder;
}
article {
	color: #561764;
	font-size: 22px;
	background-color: #fff;
    padding: 25px;

}
.intro, .after-dark {
	/*padding: 0;*/
	/*background-color:rgba(255, 255, 255, 0);*/
}	
	.intro {

	}
		.intro-img {
			height: 181px;
			width: 429px;
			margin-top: 50px;
			background-image: url(../pict/vitajy.png);
			float: left;
		}
		.right-text {
			margin-left: 470px;
			color: #fff;
			padding: 25px 25px 25px 30px;
			background-color: #4c9676;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 50px;
			border-bottom: 5px solid #65b2a9;
			border-right: 5px solid #65b2a9;
			font-size: 30px;
			line-height: 1.25em;
			font-family: 'Merriweather', serif;

font-family: 'Cuprum', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Philosopher', sans-serif;
/*font-family: 'Didact Gothic', sans-serif;*/
/*font-family: 'Marck Script', cursive;*/
/*font-family: 'Playfair Display SC', serif;*/
/*font-family: 'Forum', cursive;*/
/*font-family: 'Anonymous Pro', ;*/
/*font-family: 'Kurale', serif;*/
/*font-family: 'Underdog', cursive;*/
/*font-family: 'Ledger', serif;*/
/*font-family: 'Bad Script', cursive;*/
/*font-family: 'Open Sans Condensed', sans-serif;*/
font-family: 'PT Sans', sans-serif; 
		}
		.left-text {
			width: 415px;
			margin-top: -5px;
			line-height: 1.25em;
			font-family: 'PT Sans', sans-serif;
			padding: 25px;
			background-color: rgba(255,255,255, 0.2);
			border-top-left-radius: 50px;
			border-bottom-right-radius: 50px;
			box-shadow: 0 0 10px #C8C8C8;
			color: #633156;
			font-size: 20px;
			border-top: 5px solid #65b2a9;
			border-left: 5px solid #65b2a9;
			float: left;
		}
		.left-text a {
			color: #3366cc;
			font-weight: bolder;
		}
		.left-text a:hover {
			border-bottom: none;
			border-bottom: 2px dotted #3366cc;
		}
		.mainp-zmist {
			margin-left: 475px;
			padding: 25px 25px 0 25px;
			font-size: 18px;
			line-height: 1.25em;
			font-family: 'PT Sans', sans-serif;
		}
		.mainp-zmist li {
			padding: 10px;
			border-bottom: 1px dashed #B5B5B5
		}
		.mainp-zmist li:hover {
			background-color: rgba(255,255,255, 0.7);
		}
	.bottom-col {
		padding: 0 0 150px 0;
		margin-top: 25px;
		background-color:rgba(255, 255, 255, 0);
		font-family: 'PT Sans', sans-serif;
	}
		.bottom-col p {
			font-size: 20px;
			padding: 25px;
			line-height: 1.25em;
			color: #633156;
			background-color: rgba(255,255,255, 0.2);
			box-shadow: 0 0 10px #C8C8C8;
			margin-bottom: 25px;
			border-top-left-radius: 20px;
			border-right: 5px solid #65b2a9;
		}
		.bottom-col p > p {
			padding-top: 0;
		}
.rechi {
	height: 75px;
	width: 100%;
	background-image: url(../pict/rechi.png);
	margin-top: -75px; 
}
.rechi-white {
	height: 75px;
	width: 100%;
	background-image: url(../pict/rechi-white.png);
	margin-top: -75px; 
	z-index: 999;
}
.cinniki {
	height: 76px;
	width: 100%;
	background-image: url(../pict/cinniki.png);
	margin-bottom: -90px;
}
.block-light {
	width: 100%;
	padding: 20px 0;
	background-color: #fff;
}
.block-durk {
	width: 100%;
	background-color: #999999;
}
	.block-durk h2 {
		color: #FFFFFF;
		padding: 50px 0 0 25px;
		text-shadow: 0 0 5px #838383;
	}
.after-dark {
	padding: 25px;
	border-left: 1px dashed #999999;
	background-color:rgba(255, 255, 255, 0);
	margin-top: -25px;
}
.after-dark p {
	margin: 25px 0;
	padding: 25px 25px 0 25px;
	/*background-color: #E2EDFF;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;*/
	font-size: 30px;
}
#jak {
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	margin: 25px 0 0 0; 
	padding: 0 0 150px 0;
	border-top: 1px dashed  #FFFFFF;
	
}
	#jak h2 {
		color: #FFFFFF;
	}
	#jak .pynkt {
		border-bottom: 1px dashed #FFFFFF;
		/*padding: 15px;*/
		height: 100px;
		cursor: default;
	}
	#jak .pynkt:hover {
		background-color: #6B6B6B;
	}
	#jak .pict {
		height: 50px;
		width: 50px;
		background-color: #4c9676;
		margin: 23px;
		box-shadow: 0 0 5px #8B8B8B;
		border-radius: 50px;
		float: left;
		font-size: 35px;
		line-height: 50px;
		font-family: 'Russo One', sans-serif;
		text-align: center;
		color: #FFFFFF;
		/*text-shadow: 3px 3px 0 #B700D8;*/
		/*border: 1px solid #FFFFFF;*/
		box-shadow: 2px 2px 0 #fff;
	}
	#jak .runkt:hover .pict {
		box-shadow: 0 0 15px #232323;
	}
	#jak .text {
		font-size: 24px;
		height: 100px;
		color: #fff;
		font-family: 'Cuprum', sans-serif;
		font-size: 22px;
		display: table-cell;
		vertical-align: middle;
		margin-left: 125px;
		padding-right: 10px;
	}
#mainp-vitrina {
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 0 10px ;
	display: block;
	background-color: #999999;
	margin-bottom: 50px;
}
	#mainp-vitrina .tovar {
		width: 300px;
		height: 200px;
		/*margin: 0 5px 5px 0;*/
		background: #FFFFFF;
		float: left;
	    border-right: 10px solid #999999;
	    border-bottom: 10px solid #999999;
	    position: relative;
	    cursor: pointer;
	}
		
		#mainp-vitrina .nomer, #mainp-vitrina .nazva, #mainp-vitrina .colors, 
		#mainp-vitrina .color-palette, #mainp-vitrina .vidguk {
			display: none;
		}
		#mainp-vitrina .info {
			margin: 10px;
			padding: 20px;
			background-color:rgba(255, 255, 255, 0.8);
			height: 140px;
			font-size: 26px;
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}
		#mainp-vitrina .tovar:hover .info {
			display: block;
			
		}
		#mainp-vitrina .cina {
			font-family: 'Cuprum', sans-serif;
			font-size: 30px;
			z-index: 2;
			position: absolute;
			bottom: 5px;
			right: 5px;
			background-color:rgba(183, 0, 216, 0.9);
			color: #fff;
			padding: 5px;
		}
			.cina:after {
				content: "грн."
			}
			.cina:before {
				content: "\2248";
			}
.from-avtor {
	margin: 150px 0 50px 0;
	/*box-shadow: 0 0 5px #999;*/
	padding: 50px 50px 50px 50px;
	margin: 90px 0 0px 0;
	border-left: 1px dashed #C0C0C0;
	z-index: -1;
	font-size: 20px;
	line-height: 30px;
}
.from-avtor h2 {
	
}
.buttom-button {
	text-align: center;
	margin: 100px 0 50px 0;
}
.buttom-button div {
	background-color: #D460FF;
	/*border-bottom: 1px solid  #777777;*/
	cursor: pointer;
	display: inline-block;
	font-size: 22px;
	color: #FFFFFF;
	padding: 10px; 
	border-radius: 5px;
	padding-bottom: 7px;
	border-bottom: 3px solid #C62EFF; 
	text-shadow: 0 0 5px #C62EFF;
}
.buttom-button div:hover {
	/*box-shadow: 0 0 1px #C62EFF;*/
	padding-bottom: 7px;
	border-bottom: 3px solid #C62EFF; 
	text-shadow: 0 0 5px #C62EFF;
}
.to-top {
	text-align: center;
	position: absolute;
	top: -50px;
	width: 100%;
}
.to-top-part {
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	right: -30px;
	display: none;
	/*width: 100%;*/
}
.to-top i, .to-top-part i {
	
}
.to-top a, .to-top-part a {
	font-size: 50px;
	/*padding: 50px;*/
	color: #333;
	/*text-shadow: 0px -5px 0 #969696;*/
	background-color: #fff;
	border-radius: 50px;
	border: 1px solid #999;
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 100px;
}
.to-top a:hover, .to-top-part a:hover {
	background-color: #333;
	color: #FFFFFF;
}
.part:hover .to-top-part {
	display: block;
}
footer {
	/*background-color: #C1C1C1;*/
	/*color: #FFFFFF;*/
	/*height: 250px;*/
	padding: 20px 0;
	border-top: 1px solid #CCCCCC;
}
footer .left {
	float: left;
	width: 400px;
	padding: 20px;
	height: 100%;
}
footer .right {
	/*float: left;*/
	margin-left: 50%;
	padding: 20px;
}
footer .copyright {
	clear: both;
	padding: 20px;
}
footer .copyright p {
	font-size: 30px;
	/*text-shadow: 2px 2px 0 rgba(183, 0, 216, 1);*/
	display: inline-block;
	margin-right: 50px;
}
.part {
	margin-bottom: 50px;
}


/* 
=========================================>>>
============ INFA.PHP ===================>>>
=========================================>>>
*/



	.zmist {
	/*font-family: 'Cuprum', sans-serif;*/
	font-size: 20px;
	/*margin-bottom: -100px;*/
	padding: 100px 2px 150px 0 ;
	margin-top: -100px;
	line-height: 1.5em;
	background-color: rgba(155,155,155, 0);
}
.zmist h2 {
	font-size: 30px;
	color: #000000
}
.zmist li {
	padding-bottom: 10px;

}
	.zmist a, .zmist a:hover, .zmist a:active, .zmist a:visited {
		color: #3366CC;
		padding: 5px;
		padding-bottom: 2px;
		/*border-bottom: 2px dotted #333;*/
		margin-left: 10px;
	}
	.zmist a:hover {
		border-bottom: 2px dotted #3366CC;
		/*background-color: #fff;*/
	}
	.zmist li {
		list-style: inside;
		list-style-type:decimal;
		padding-right: 50px;
		margin-bottom: 5px;
	}	
	.zmist h3 {
		margin: 25px 0;
		font-size: 30px;
		color: #666;
	}
	.part {
		box-shadow: 0px 0px 5px  #999;
		
		position: relative;
	}
/* font-family: 'Merriweather', serif;
font-family: 'Cuprum', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Marck Script', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Forum', cursive;
font-family: 'Anonymous Pro', ;
font-family: 'Kurale', serif;
font-family: 'Underdog', cursive;
font-family: 'Ledger', serif;
font-family: 'Bad Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans', sans-serif; */